@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.main-bottom1 {
  /* background: #f9f9f9; */
  background: #3d3d3b;
  border-radius: 0.625em;
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.15) !important;
  transition: all 0.5s ease-in-out;
}
.main-bottom-2 {
  /* padding: 1em; */
  /* background: #f9f9f9; */
  background: #3d3d3b;
  border-radius: 0.625em;
  box-shadow: 0 0 0.3125em rgba(0, 0, 0, 0.15) !important;
  transition: all 0.5s ease-in-out;
}

.main1 .main-bottom1 .bottom-info1 {
  font-size: 0.875em;
  font-weight: 400;
  margin-top: 0.5em;
}

.image-container1 {
  width: 100%;
}

.response-image {
  width: 22%;
  aspect-ratio: 1;
  object-fit: cover;
}

.audio-player {
  width: 100%;
  display: flex;
  gap: 0.3125em;
  align-items: center;
  justify-content: center;
}

.play-button svg {
  width: 2.1875em;
  height: 2.1875em;
  cursor: pointer;
  color: #0062a5;
}

.s3-link {
  text-decoration: none;
  color: #8cc63e;
  font-weight: 500;
}

.s3-link:hover {
  text-decoration: underline;
}
